<h4>Dashboard</h4>

<section id="dashboard" class="row">
	<div class="two-thirds column">
		{{hyper-search
    		endpoint="issues.json"
    		resultKey="issues.id"
    		placeholder="Search by issues"
    		handleResults=(action "handleResults")
		}}

	</div>
	<div class="one-third column">
		<p class="note card">
			The search allows you to look through issues and projects - ultimately enableling you too add multiple ones and to generate an activity graph.
		</p>
	</div>
</section>

<hr />

{{#each-in searchResults as |key value|}}

	looking at {{key}}
	{{#each issues as |issues|}}
		{{issues}}
	{{/each}}
{{/each-in}}

<section>
		<div class="row">
			{{#each model.issues as |issues|}}
				{{#link-to 'issues' issues}}
					{{#issue-detail-card id=issues.id updated=issues.updated_on projectid=issues.project.id project=issues.project.name}}
						{{issues.subject}}
					{{/issue-detail-card}}
				{{/link-to}}
			{{else}}
				<div class="one-half column"><p>Hang on a second...</p></div>
			{{/each}}
		</div>

</section>