<p><strong>Ticket #</strong> {{model.id}}<br />
<strong>Project:</strong> {{model.project.name}}<br />
<strong>Tracker:</strong> {{model.tracker.name}}<br />
<strong>Status:</strong> {{model.status.name}}<br />
<strong>Priority:</strong> {{model.priority.name}}<br />
<strong>Author:</strong> {{model.author.name}}</p>

<hr />

<p>
{{model.description}}
</p>