<p><strong>Ticket #</strong> {{model.id}}<br />
<strong>Project:</strong> {{#link-to 'projects' model.project.id}}{{model.project.name}}{{/link-to}}<br />
<strong>Tracker:</strong> {{model.tracker.name}}<br />
<strong>Status:</strong> {{model.status.name}}<br />
<strong>Priority:</strong> {{model.priority.name}}<br />
<strong>Author:</strong> {{model.author.name}}</p>

<hr />

<h5>{{model.subject}}</h5>
<p>
{{model.description}}
</p>