<p><strong>Ticket #</strong> {{model.id}}<br />
<strong>Project:</strong> {{model.name}}<br />
<strong>Issues related:</strong></p>
	{{#each model.issues as |projects|}}
		<ul>
			<li>{{#link-to 'issues' model.issues.id}}{{model.id}}{{/link-to}}</li>
		</ul>
	{{else}}
		<p>There are no issues in this project</p>
	{{/each}}

<hr />

<p>
{{model.description}}
</p>