<h3>Project {{model.name}}</h3>

<p>
<strong>Project #</strong> {{model.id}}<br />
{{#if model.parent}}
<strong>Parent Project</strong> {{#link-to 'projects' model.parent.id}}{{model.parent.name}}{{/link-to}}
{{/if}}
</p>

<hr />

<p>Activity</p>

{{#each model.issues as |issues|}}
	{{moment-format issues.created_on 'LLL'}} -- {{issues.status.name}} -- {{moment-format issues.updated_on 'LLL'}}<br />
{{/each}}

{{projectActivity}}
{{area-chart data=projectActivity options=options}}

<hr />

<p><strong>Issues in this project:</strong></p>

	<div class="masonry">
		{{#each model.issues as |issues|}}
			{{#link-to 'issues' issues.id}}
				{{#issue-detail-card id=issues.id updated=issues.updated_on projectid=issues.project.id project=issues.project.name}}
					{{issues.subject}}
				{{/issue-detail-card}}
			{{/link-to}}
		{{else}}
			<p>There are no issues in this project</p>
		{{/each}}

		{{#each model as |projects|}}
			{{model.parent.name}}
		{{/each}}
	</div>